---
layout: default
title: Aiming to Misbehave
---

<div class = "hero-box bg-secondary">
  <img src="/assets/images/guitars.jpg" class = "hero-image" alt="Guitars">
</div>
<div class = "hero-text pt-3 mb-3 p-2 bg-secondary">
  <div class="container">
  <h1 class="text-primary">Welcome to <span class="font-italic">Aiming to Misbehave</span>!</h1>
  <p>This blog covers the fun and bumpy road from data science to web development.  
    We'll cover everything from munging through giant datasets to building awesome 
    websites and more!</p>
  </div>
</div>
<div class = "container">
  <header>
  <h1 class="text-primary">Latest Post</h1>
  </header>
  {% for post in site.posts limit:1 %}
  {% include blog-excerpt.html %}
  {% endfor %}
  <div class="foot-blog-link pr-4 mt-2">
    <a href="/blog">More from the blog <i class="fas fa-angle-right"></i></a>
  </div>
</div>