---
layout: default
title: Aiming to Misbehave
---
<div class="container-fluid">
  <div class="row bg-secondary">
    <header class="col-lg-7 offset-lg-1 mt-4 d-flex align-items-end">
      <h1 class="text-primary">{{ page.title }}</h1>
    </header>
    <img src="/assets/images/guitars.jpg" class = "post-hero-image img-fluid" alt="Guitars">
  </div>
  <div class="row mt-4">
    <main class="col-lg-7 offset-lg-1 pt-0">
      <div class="blog-date mb-1">
      {{ page.date | date: '%b %e, %Y' }}
      </div>
      {{ content }}
    </main>
    <div class="col-lg-3 ml-3 p-3 bg-light">
    {% include recent-posts.html %}
    </div>
  </div>
</div>